.strength {
    display: flex;
    flex-direction: row;
  }
  
  .strengthBar {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    flex-grow: 1;
  }
  
  p {
    font-weight: bold;
    flex-grow: 0.1;
  }

  .rules {
    margin-top: 5px;

    .sucess span, .error span{
      font-size: 14px;
      margin-left: 26px;
    }

    .sucess::before,.error::before{
      font-size: 19px;
      margin: -1px 0px;
      position: absolute;
    }

    .error::before{
      font-family: "Material Icons";
      content: "\e000";
      color: red;
    }
    .sucess::before{
      font-family: "Material Icons";
      content: "\e2e6";
      color: green;
    }
    
  
  }
