<h4>Cadastre uma nova senha</h4>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label for="novaSenha">Nova Senha</mat-label>
        <input type="password" matInput  id="novaSenha" formControlName="novaSenhaFormControl" [formControl]="novaSenhaFormControl"  [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="novaSenhaFormControl.hasError('required')">
          Esse campo é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label for="repetirNovaSenha">Repetir Nova Senha</mat-label>
        <input type="password" matInput  id="repetirNovaSenha" formControlName="repetirNovaSenhaFormControl" [formControl]="repetirNovaSenhaFormControl"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="repetirNovaSenhaFormControl.hasError('required')">
          Esse campo é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
      <app-password-strength [passwordToCheck]="profileForm.value.novaSenhaFormControl" [minLength]="5" [specialChars]="specialChars" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
      
    </p>

  <div class="row">
  <div class="col-4"></div>
  <div class="col-4">
      <button mat-raised-button color="warn" type="submit">Enviar</button>
  </div>
  <div class="col-4">
      <a (click)="cancelar()" class="bt-cancelar">Cancelar</a>
  </div>
</div>    

</form>

