/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

$cor-vermelho-marca: #93231A;
$cor-branco: #FFFFFF;
$cor-texto-cinza: #545F71;

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(0deg, $cor-vermelho-marca 0%, $cor-branco 100%);
}


.toast-position{
    top: 50px;
    bottom: 30px;
    right: 10px;
  }
  