@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto&display=swap');

$color-red: #93231A;
$color-ultra-light-grey: #f3f3f3;
$color-light-grey: #C4CDD5;
$color-blue-grey: #E9E9E9;
$color-middle-grey: #414141;
$color-amarelo: #F5B142;
$color-disponivel-inscricao: #C8DAC4;
$color-passivel-cancelamento: #BB2525;
$cor-branco: #FFFFFF;
$cor-texto-cinza: #545F71;
$border-radius: 5px;